
.svg_select_points {
    fill: #fff;
    stroke-dasharray: 1 1;
    background: transparent;
    stroke: #423d77;
    stroke-width: 0.3;
}

.text-edit {
    width: auto;
    min-width: 10px;
    white-space: nowrap;
    outline: none;
}