<svg:g #main [attr.transform]="'rotate(' + this.angle + ' ' + (this.pt.x + this.size.width / 2) + ' ' + (this.pt.y + this.size.height / 2) + ') '">
  <text #text [attr.x]="pt.x" [attr.y]="pt.y" [attr.width]="size.width" [attr.height]="size.height" *ngIf="objectInfo.type==0">
    <tspan x="0" dy="0">{{objectInfo.text}}</tspan>
  </text>
</svg:g>
<svg:g #select [attr.transform]="'rotate(' + this.angle + ' ' + (this.pt.x + this.size.width / 2) + ' ' + (this.pt.y + this.size.height / 2) + ') '">
  <svg:rect #rectSelect [attr.x]="pt.x" [attr.y]="pt.y" [attr.width]="size.width" [attr.height]="size.height" class="svg_select_points" />
  <svg:circle #topleft r="4" [attr.cx]="pt.x" [attr.cy]="pt.y" stroke="#000000" stroke-width="1" fill="#000000" class="circle-point"></svg:circle>
  <svg:circle #topright r="4" [attr.cx]="pt.x + size.width" [attr.cy]="pt.y" stroke="#000000" stroke-width="1" fill="#e2e2e2"
    class="circle-point"></svg:circle>
  <svg:circle #bottomright r="4" [attr.cx]="pt.x + size.width" [attr.cy]="pt.y + size.height" stroke="#000000"
    stroke-width="1" fill="red" class="circle-point"></svg:circle>
</svg:g>