

:host::ng-deep .svg_select_points {
    stroke-width: 0.5;
    fill: gray;
    stroke-dasharray: 10 10;
    stroke: gray;
    stroke-opacity: 1;
    fill-opacity: .1;
    pointer-events: none;
}

:host::ng-deep .pointer {
    cursor: pointer;
}

:host::ng-deep .hidden {
    opacity: 0;
}