<div style='margin-top: 50px'></div>
<div>
  <input type="file" (click)="clickChooseFile($event)" (change)="onFileChanged($event)" #fileInput [hidden]="true">
  <button (click)="fileInput.click()">AddImage</button>
  <button (click)="addText()">AddText</button>
  <button (click)="saveObj()">SaveObj</button>
  <button (click)="designComplete()">DesignComplete</button>
  <button (click)="upload()">Upload</button>
  <img [src]='imageBlobUrl | safeUrl' #image *ngIf="imageBlobUrl!=null" [hidden]="true" />
</div>
<div>
  <button (click)="showFront=true">Front</button>
  <button (click)="showFront=false">Back</button>
</div>
<div>
  <button (click)="design()">Design</button>
  <button (click)="preview()">Preview</button>
</div>
<div>
  {{getInfoSelected()}}
</div>
<div class="design-container">
  <app-paint-container [isFront]="true" [params]="params" [template]="template" [(listObject)]="listObject" [hidden]="!showFront"></app-paint-container>
  <app-paint-container [isFront]="false" [params]="params" [template]="template" [(listObject)]="listObject" [hidden]="showFront"></app-paint-container>
</div>