<svg:g #main
  [attr.transform]="'rotate(' + objectInfo.angle + ' ' + (objectInfo.pt.x + objectInfo.size.width / 2) + ' ' + (objectInfo.pt.y + objectInfo.size.height / 2) + ') '">
  <svg:image [attr.xlink:href]="base64" #image [attr.x]="objectInfo.pt.x" [attr.y]="objectInfo.pt.y"
    [attr.width]="objectInfo.size.width" [attr.height]="objectInfo.size.height" />
</svg:g>
<svg:g [style.opacity]="objectInfo.selected ? '1.0' : '0.0'" class="pointer" #select
  [attr.transform]="'rotate(' + objectInfo.angle + ' ' + (objectInfo.pt.x + objectInfo.size.width / 2) + ' ' + (objectInfo.pt.y + objectInfo.size.height / 2) + ') '">
  <svg:rect #rectSelect [attr.x]="objectInfo.pt.x" [attr.y]="objectInfo.pt.y" [attr.width]="objectInfo.size.width"
    [attr.height]="objectInfo.size.height" class="svg_select_points" />
  <svg:image #topleft xlink:href="./assets/icon/delete.svg" [attr.x]="objectInfo.pt.x - rIcon"
    [attr.y]="objectInfo.pt.y - rIcon" [attr.width]="rIcon * 2" [attr.height]="rIcon * 2" />
  <svg:image #topright xlink:href="./assets/icon/rotate.svg" [attr.x]="objectInfo.pt.x + objectInfo.size.width - rIcon"
    [attr.y]="objectInfo.pt.y - rIcon" [attr.width]="rIcon * 2" [attr.height]="rIcon * 2" />
  <svg:image #bottomright xlink:href="./assets/icon/resize.svg"
    [attr.x]="objectInfo.pt.x + objectInfo.size.width - rIcon"
    [attr.y]="objectInfo.pt.y + objectInfo.size.height - rIcon" [attr.width]="rIcon * 2" [attr.height]="rIcon * 2"
    clip-path="url(#rectBottomRight)" fill="red" />
</svg:g>
<!-- <svg:circle [attr.cx]="point1.x" [attr.cy]="point1.y" r="1" fill="red" />
<svg:circle [attr.cx]="point2.x" [attr.cy]="point2.y" r="1" fill="blue" />
<svg:circle [attr.cx]="point3.x" [attr.cy]="point3.y" r="1" fill="green" /> -->